/* 1) Selector universal */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* 2) Selector de etiqueta */
body {
background-color: #232323;
color: #fff;
font-family: Arial, Helvetica, sans-serif;
padding: 24px;
}

/* 3) Selector de etiqueta (h1) */
h1 {
margin-bottom: 16px;
font-size: 22px;
}

/* 4) Selector por ID */
#social-icons {
display: flex;
gap: 10px;
flex-wrap: wrap;
margin-bottom: 16px;
}

/* 5) Selector de clase */
.btn {
background-color: rgb(153, 127, 255);
padding: 12px 14px;
border: none;
border-radius: 10px;
color: #fff;
cursor: pointer;
}

/* 6) Selector avanzado (descendiente): solo botones dentro del ID */
#social-icons .btn {
background-color: rgba(4, 0, 255, 0.521);
border-radius: 20px;
}

/* 7) Pseudoclase */
.btn:hover {
background-color: rgb(73, 226, 43);
}
