/* Reset básico */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Herencia global */
body {
background-color: #0f172a;
color: #e5e7eb;
font-family: Arial, Helvetica, sans-serif;
padding: 20px;
}

/* ======================
HERENCIA Y CASCADA
====================== */

/* Regla general */
.box {
  background-color: #7c3aed !important; /* !important gana */
padding: 12px;
border-radius: 10px;
}

/* Selector de etiqueta */
h2 {
  background-color: #84cc16; /* pierde contra !important */
padding: 10px;
}

/* Selector por ID (más específico) */
#unicoBox {
  background-color: #67e8f9; /* perdería contra !important */
}

/* Fuente personalizada */
.science-gothic {
font-family: "Science Gothic", sans-serif;
font-weight: 500;
}

/* ======================
ESCENARIO PLATAFORMAS
====================== */

.escenario {
position: relative;
width: 520px;
height: 320px;
margin: 30px auto;
border: 2px solid #334155;
border-radius: 14px;
overflow: hidden;
background-color: #0b1220;
}

/* Cielo */
.cielo {
position: absolute;
top: 0;
width: 100%;
height: 45%;
background: linear-gradient(to bottom, #7dd3fc, #bae6fd);
}

/* Sol */
.sol {
position: absolute;
bottom: -30px;
left: 0;
right: 0;
margin: auto;
width: 70px;
height: 70px;
background: #facc15;
border-radius: 50%;
box-shadow: 0 0 35px #fde047;
z-index: 1;
}

/* Nubes */
.nube {
position: absolute;
background: white;
border-radius: 100px;
opacity: 0.85;
}

.nube1 {
top: 60px;
left: 12%;
width: 110px;
height: 38px;
}

.nube2 {
top: 95px;
right: 18%;
width: 130px;
height: 42px;
}

/* Fondo verde */
.bosque-fondo {
position: absolute;
bottom: 0;
width: 100%;
height: 55%;
background: linear-gradient(to bottom, #16a34a, #14532d);
}

/* Pasto */
.pasto {
position: absolute;
bottom: 70px;
width: 100%;
height: 25px;
background: #22c55e;
}

/* Suelo */
.suelo {
position: absolute;
bottom: 0;
width: 100%;
height: 70px;
background: #78350f;
border-top: 4px solid #4b2e14;
}

/* Plataformas */
.plataforma {
position: absolute;
background: #92400e;
border: 3px solid #4b2e14;
border-radius: 12px;
}

.plataforma1 {
width: 190px;
height: 22px;
bottom: 190px;
left: 18%;
}

.plataforma2 {
width: 170px;
height: 22px;
bottom: 230px;
right: 20%;
}

.plataforma3 {
width: 210px;
height: 22px;
bottom: 120px;
right: 10%;
}
